html {
	font-family: 'Montserrat', sans-serif;
}
section {
	width: 100vw;
	height: auto;
	text-align: center;
}
div {
	width: 10vw;
	height: 10vh;
}
input {
	margin: 15vh 15vw;
	width: 20vw;
	font-size: : 20rem;
}

#player1 {
	background: red;
	margin: 25vh 0;
}
#player2 {
	background: blue;
	margin: 25vh 0;
}
/*ADD - Media query for tablet*/